@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.bar {
  background-color: #006341;
  width: 168px;
  height: 22px;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 100px;
  margin: 0;
  margin-bottom: 30px;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  margin: 20px 0;
}